/* **********************
Shades
*********************** */
$color-white: #fff;
$color-lighter-grey: #eee;
$color-light-grey: #aaa;
$color-grey: #888;
$color-dark-grey: #555;
$color-darker-grey: #333;
$color-black: #000;


/* **********************
App Colours
*********************** */
$color-primary: #009688;
$color-primary-dark: $color-primary - 60;
$color-primary-light: $color-primary + 40;

$color-accent: #D36754;
