//Margins
$margin-sm: 1rem;
$margin-md: 3rem;
$margin-lg: 5rem;

//Padding
$padding-sm: 1rem;
$padding-md: 3rem;
$padding-lg: 5rem;
$padding-xl: 12rem;

//Font-sizes
$h1: 3.8rem;
$h2: 3rem;
$h3: 2.2rem;
$h4: 1.8rem;
$h5: 1.4rem;
$h6: 1rem;

$interaction: 1.8rem;
$paragraph: 1.4rem;
$detail: 1rem;

//Timings
$transition-time: 0.1s;
