<div class="home-table-wrap">
    <table class="home-table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Company
            </th>
            <th>
                Account
            </th>
            <th>
                {{ home.total | currency }}
            </th>
        </tr>
        <tr ng-repeat="transaction in home.transactions.transactions">
            <td class="date">
                {{ transaction.Date | date:'MMM d, yyyy' }}
            </td>
            <td class="company">
                {{ transaction.Company | capitalize:'all' }}
            </td>
            <td class="account">
                {{ transaction.Ledger }}
            </td>
            <td class="amount">
                {{ transaction.Amount | currency }}
            </td>
        </tr>
    </table>
</div>

<p class="total-transactions">
    Total transactions: {{ home.transactions.totalCount }}
</p>

<uib-pagination total-items="home.transactions.totalCount" ng-model="home.transactions.page" ng-change="home.changePage()"></uib-pagination>
