<div class="home-table-wrap">
    <table class="home-table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Company
            </th>
            <th>
                Account
            </th>
            <th>
                {{ home.total | currency }}
            </th>
        </tr>
        <tr ng-repeat="transaction in home.transactions">
            <td>
                {{ transaction.Date | date:'MMM d, yyyy' }}
            </td>
            <td>
                {{ transaction.Company | capitalize:'all' }}
            </td>
            <td>
                {{ transaction.Ledger }}
            </td>
            <td>
                {{ transaction.Amount | currency }}
            </td>
        </tr>
    </table>
</div>

<p class="total-transactions">
    Total transactions: {{ home.totalCount }}
</p>

<div class="pagination-and-add">
    <uib-pagination class="pull-left" total-items="home.totalCount" ng-model="home.page" ng-change="home.changePage()"></uib-pagination>
    <a ui-sref="add-transaction" class="btn btn-primary pull-right">Add Transaction</a>
</div>
