bench-header {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $color-primary;
    color: $color-white;
    padding: $padding-md;
    margin-bottom: $margin-md;
    h1 {
        margin: 0;
        font-size: $h5;
    }
}
