.home-table-wrap {
    @include benchDropShadow();
    background-color: $color-white;
    .home-table {
        width: 100%;
        text-align: left;
        .date,.account {
            color: #999;
            font-size: $h6;
        }
        .company,.amount {
            font-weight: 600;
        }
        td,th {
            padding: $padding-sm;
        }
        th {
            color: $color-primary;
            font-size: $h5;
        }
        tr {
            border-top: 1px solid $color-lighter-grey;
            &:nth-child(2) {
                background: linear-gradient(to bottom, $color-lighter-grey 0%,$color-white 100%);
            }
            &:hover {
                color: $color-primary;
                .date,.account {
                    color: $color-primary;
                }
            }
            &:first-child {
                border-top: none;
                cursor: default;
            }
        }
    }
}
.total-transactions {
    text-align: right;
}
.pagination-and-add {
    .pagination {
        margin: 0;
    }
}
